{% extends "base.html" %}

{% block announce %}
  Follow us on <a href="https://www.linkedin.com/company/rxtx"><span class="twemoji">{% include ".icons/fontawesome/brands/linkedin.svg" %}</span> LinkedIn</a>, <a href="https://twitter.com/RxTxResearch"><span class="twemoji">{% include ".icons/fontawesome/brands/twitter.svg" %}</span> Twitter</a>, and <a href="https://www.youtube.com/channel/UCBDDGDnCECrJAZcoYT1IT4Q"><span class="twemoji">{% include ".icons/fontawesome/brands/youtube.svg" %}</span> YouTube</a> for updates.
{% endblock %}
